.header-first{
    background-color: aqua;
    width: 100%;
    height: 70px;
}.header-container{
    background-color: aquamarine;
    width: 400px;
}.loginp{
  font-size: 40px;
  margin-top: 5px;
  margin-right: 50px;
}